.about-us--container {
    padding-top: 0px;
    padding-bottom: 20px;
    @mixin atMedium {
        padding-top: 80px;    
    }
}
.about-us--description {
    font-weight: 300;
    font-size: 16px;
    text-align:center;
    @mixin atMedium {
        text-align:left;  
    }  
}
.about-us--img {
    width: 100%;
    &-container {
        padding-bottom: 40px;  
        @mixin atMedium {
            padding-bottom: 0px;    
        }
    }
}
.button-container {
    display: flex;
    justify-content: center;
    @mixin atMedium {
        justify-content:left;
    }

}
.about-us--button {
    margin-top: 10px;
    margin-right: 10px;
}

.about-us-title {
    font-size: 2rem;
    color: $main-blue;
    font-weight: 700;
    position: relative;
    @mixin atMedium {
        font-size: 2.4rem;
        &:after {
            content: "";
            background: $main-blue;
            height: 3px;
            width: 77%;
            display: block;
            position: absolute;
            top: 50%;
            right: 0;
        }
    }
}
.offer__headline {
    height: 15%;
}
.block-headline {
    text-align:center;
    padding: 60px 0 20px 0;
    width: 100%;
    @mixin atMedium {
        padding: 60px 0;
        text-align:left;  
    }
}