.btn-white{
	font-family: 'Roboto', sans-serif;
	display: block;
	padding: 2px 0px;
	text-align: center;
	text-decoration: none;
	width: 190px;
	font-size: 10px;
	line-height: 3.5em;
	font-weight: normal;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: all .3s ease-in-out;
	position: relative;
    color: #fff;
	border: 2px solid #fff;
	  
	@mixin atMedium { 
		font-size: 12px;
		line-height: 3.2em;
		padding: 10px 30px;
	}
	
	&:before,
	&:after {
		width: 0%;
		height: 2px;
		position: absolute;
		background: #959799;
		transition: width .4s ease-in-out;
		content: " ";
	}

	&:before {
		left: 0;
		top: -2px;
	}

	&:after {
		bottom: -2px;
		right: 0;
	}

	&:hover {
		padding: 2px 0px;
		border-color: #959799;
		color: $main-grey;
		text-decoration: none;
		@mixin atMedium { 
			padding: 10px 25px 10px 35px;
		}

		&:before,
		&:after {
			width: 100%;
		}
	}
}
.btn-blue {
	font-family: 'Roboto', sans-serif;
	display: block;
	padding: 2px 0px;
	text-align: center;
	text-decoration: none;
	width: 190px;
	font-size: 10px;
	line-height: 3.5em;
	font-weight: normal;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: all .3s ease-in-out;
	position: relative;
    color: $main-blue;
	border: 2px solid $main-blue;
	  
	@mixin atMedium { 
		font-size: 12px;
		line-height: 3.2em;
		padding: 10px 30px;
	}
	
	&:before,
	&:after {
		width: 0%;
		height: 2px;
		position: absolute;
		background: #959799;
		transition: width .4s ease-in-out;
		content: " ";
	}

	&:before {
		left: 0;
		top: -2px;
	}

	&:after {
		bottom: -2px;
		right: 0;
	}

	&:hover {
		padding: 2px 0px;
		border-color: #959799;
		color: $main-grey;
		text-decoration: none;
		@mixin atMedium { 
			padding: 10px 25px 10px 35px;
		}

		&:before,
		&:after {
			width: 100%;
		}
	}
}
.btn-all-blue {
	font-family: 'Roboto', sans-serif;
	display: block;
	padding: 2px 0px;
	text-align: center;
	text-decoration: none;
	width: 190px;
	font-size: 10px;
	line-height: 3.5em;
	font-weight: normal;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: all .3s ease-in-out;
	position: relative;
    color: $main-white;
	border: 2px solid $main-blue;
	background-color: $main-blue;
	  
	@mixin atMedium { 
		font-size: 12px;
		line-height: 3.2em;
		padding: 10px 30px;
	}
	&:hover {
		color: $main-white;
		text-decoration: none;
	}

}

.services-button {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-weight: 300;
	background-color: transparent;
	color: $main-grey;
	border: none;
}

.services-button:focus,.services-button:active {
   outline: none !important;
   border:none !important;
   box-shadow: none;
}