.page-banner {
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;

    &__overlay {
        position: absolute;
        background: rgba(0, 47, 93,0.8);
        top:0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    &--title {
        font-weight: 400;
        font-size: 22px;
        color: $main-white;
        @mixin atMedium {  
            font-size: 45px; 
        }
    }
    &--subtitle {
        font-size: 16px;
        font-weight: 200;
        color: $main-white;
        @mixin atMedium {  
            font-size: 26px; 
        }
    }

    &--button-place {
        display: flex;
        justify-content: center;
        padding-top: 20px;
        @mixin atMedium {  
            padding-top: 40px;  
        }
    }
}

.logo {
    width: 100px;
    height:auto;
    @mixin atMedium {  
        width: 150px;
    }
}

.main-contact {
    margin-bottom: 7px;
}
.main-contact-adress {
    color :white;
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 7px;
    @mixin atMedium {  
        font-size: 20px;  
    }
}
.main-contact a{
    color :white;
    font-size: 16px;
    font-weight: 300;
    @mixin atMedium {  
        font-size: 20px;  
    }
}

.main-contact a:hover {
    color :white;
}

.main-contact--social {
    color :white;
    font-size: 16px;
    font-weight: 300;
    @mixin atMedium {  
        font-size: 20px;  
    }
}