.services-row {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    padding: 0;
    clear: both;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .services-main--container {
      text-align: center;
      padding-top: 50px;
  }
  
  .services .law-container .li {
    float: left;
    overflow: hidden;
    border: 1px solid $main-white;
  } 
  .services {
    padding: 40px 0 40px;
    position: relative;
    overflow: hidden;
  }
  .services-box--title {
      color: $main-white;
      font-size: 24px;
      font-weight: 400;
      text-align: center;
  }
  .services .law-container {
    padding-top: 0px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .services .law-container .li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    position: relative;
    height: 230px;
    width: 100%;
  }
  .law-box {

      display: flex;
      align-items: center;
      justify-content: center;
  }
  .port {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 70px;
    background: #ffffff;
    background-color: #fafafa;
    z-index: 103;
    visibility: hidden;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    border-bottom: 1px solid #d0d0d0;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    text-align: left;
    @mixin atSmall { 
      padding-right: 50px;
      padding-left: 50px;
      padding-top: 100px;
    }
  }
  .port .description {
    float: left;
    max-height: 100%;
    padding: 0 40px 40px;
    overflow: auto;
  }
  .port h1 {
    color: $main-blue;
    font-size: 22px;
    text-align: center;
    padding: 0;
    @mixin atSmall { 
      font-size: 30px; 
    }
  }
  .port p {
    color: $main-grey;
    font-size: 18px;
    text-align: center;
    padding-bottom: 10px;
    @mixin atSmall { 
      font-size: 20px; 
    }
  }
  .port > * {
    opacity: 0;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    transition: all 0.5s linear;
  }
  .port.item_open {
    visibility: visible;
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }
  .port > * {
    opacity: 1;
    -webkit-transition-delay: 0.5s;
    transition-delay: 0.5s;
  }
  
  .close {
    width: 21px;
    height: 21px;
    background: url(data:image/svg+xml;utf8,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0A%3C%21--%20Generator%3A%20Adobe%20Illustrator%2017.1.0%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200%29%20%20--%3E%0A%3C%21DOCTYPE%20svg%20PUBLIC%20%22-//W3C//DTD%20SVG%201.1//EN%22%20%22http%3A//www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd%22%3E%0A%3Csvg%20version%3D%221.1%22%0A%09%20id%3D%22svg2%22%20xmlns%3Adc%3D%22http%3A//purl.org/dc/elements/1.1/%22%20xmlns%3Acc%3D%22http%3A//creativecommons.org/ns%23%22%20xmlns%3Ardf%3D%22http%3A//www.w3.org/1999/02/22-rdf-syntax-ns%23%22%20xmlns%3Asvg%3D%22http%3A//www.w3.org/2000/svg%22%0A%09%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20x%3D%220px%22%20y%3D%220px%22%20viewBox%3D%220%200%2021%2021%22%0A%09%20enable-background%3D%22new%200%200%2021%2021%22%20xml%3Aspace%3D%22preserve%22%3E%0A%3Cg%20id%3D%22layer1%22%20transform%3D%22translate%280%2C-1031.3622%29%22%3E%0A%09%3Cpath%20id%3D%22path2987%22%20fill%3D%22none%22%20stroke%3D%22%23000000%22%20d%3D%22M0%2C1031.4l21%2C21%22/%3E%0A%09%3Cpath%20id%3D%22path2989%22%20fill%3D%22none%22%20stroke%3D%22%23000000%22%20d%3D%22M21%2C1031.4l-21%2C21%22/%3E%0A%3C/g%3E%0A%3C/svg%3E%0A%0A) no-repeat;
    position: absolute;
    right: 50px;
    top: -121px;
    opacity: 1;
    z-index: 1004;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
  }
  .item_open .close {
    opacity: 1;
    top: 0px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  .law-img {
      width: 60px;
  }
  .services-main--title {
    color: $main-blue;
    }
  .services-main--description {
      font-size: 16px;
      font-weight: 300;
      color: $main-black;

      &--container {
        text-align: center;
        @mixin atMedium {
          text-align: left;
          padding-left: 0px !important;    
        }
      }
      
  }

  .services-title {
    font-size: 2rem;
    color: $main-blue;
    font-weight: 700;
    position: relative;

    @mixin atMedium {
      font-size: 2.4rem;
    &:after {
        content: "";
        background: $main-blue;
        height: 3px;
        width: 73%;
        display: block;
        position: absolute;
        top: 50%;
        right: 0;
    }
  }
}
.services__headline {
    height: 15%;
}
.services-headline {
    text-align: center;
    padding: 60px 0 20px 0;
    width: 100%;
    @mixin atMedium {
      padding: 60px 0;
      text-align:left;  
  }
}
.training__items {
    display: flex;
    flex-direction: row;
    position: relative;
}
.training__list {
    display: flex;
    flex-direction: column;
}
.training__list span{
   font-size: 16px;
   position: relative;
   padding-left: 30px;
   padding-bottom: 5px;
   @mixin atSmall { 
    font-size: 16px; 
    padding-left: 40px;
  }
}
.training__list span:before{
    content: "";
    background: $main-blue;
    width: 15px;
    height: 15px;
    position: absolute;
    clip-path: polygon(50% 0,100% 26%,100% 74%,49% 100%,0 74%,0 26%);
    top: 5px;
    left: 0;
    @mixin atSmall { 
      width: 20px;
      height: 20px;
      top: 0;
      left: -10px;
    }
    
 }

  .services-banner {
      margin-top: 60px;
      margin-bottom: 60px;
      font-family: 'Roboto', sans-serif;
      height: 1700px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      position: relative;
      background-attachment: fixed;
      @mixin atMedium {
        height: 80vh;
      }

      &__overlay {
          position: absolute;
          background: rgba(0, 47, 93,0.8);
          top:0;
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          text-align: center;
      }
  }
 

 