.site-footer {
    padding: 3.5rem 0 0rem 0;
    background-color: $main-blue;
    @mixin atSmall { 
      padding: 6rem 0 0 0;
    }

    p {
      margin: 0px;
      padding: 2px;
    }

    &__inner {
      border-bottom: 1px solid #646464;
      padding-bottom: 2rem;
    }
  
    .headline {
      color: $main-white;
      margin-bottom: .33rem;
    }
  
    &__link {
      font-size: 16px;
      color: hsla(0,0%,100%,.7);
      text-decoration: none;
    }
  
    &__link:hover {
      color: $main-white;
      opacity: 0.8;
      text-decoration: underline;
    }
  
    &__col-one {
      text-align: center;
      width: 100%;
      font-weight: 100;
      @mixin atMedium {
        text-align: left;
        width: 25%;
        float: left;
      }

    }
  
    &__col-two {
      font-size: 12px;
      display: block;
      padding-bottom: 3px;
      color: hsla(0,0%,100%,.7);
      text-decoration: none;
      font-weight: 100;
      width: 100%;
      text-align: center;
    
     @mixin atMedium {
        width: 25%;
        float: left;
        text-align: left;
        padding-top: 0px;

      }
    }
  
    &__col-three {
      font-size: 12px;
      display: block;
      padding-bottom: 3px;
      color: hsla(0,0%,100%,.7);
      text-decoration: none;
      font-weight: 100;
      width: 100%;
      text-align: center;
  
      @mixin atMedium {
        padding-bottom: 30px;
      }
    
     @mixin atMedium {
      width: 25%;
      float: left;
     }
     ul {
       padding:0;
     }
    }
    &__col-four {
      color: hsla(0,0%,100%,.7);
      width: 100%;
      text-align: center;
      font-weight: 100;
      
      @mixin atMedium {
        padding-bottom: 30px;
        text-align: left;
      } 
    } 


    &--title {
      font-size: 1rem;
      font-weight: 300;
      padding-bottom: 0px;
      color: $main-white;
      margin: 20px 0px;
      @mixin atSmall {
        font-size: 1.2rem;
        padding-bottom: 20px;
        margin: 0;
      }
    }
    
  }
  
  #cookie-notice .cn-button {
    background-color: $main-black;
    color: $main-white;
    text-decoration: none;
    padding: 3px 10px;
  }



  .site-footer__under__inner {
    display: flex;
    color: hsla(0,0%,100%,.7);
    align-items: center;
    justify-content: center;
    height: 100px;

    p {
      margin: 0;
      cursor: pointer;
    }
    
    &__col-one {
      width: 42%;
      font-size: 10px;
      @mixin atSmall {
        font-size: 14px;
        width: 33%;
      }
    }
    &__col-two {
      width: 8%;
      text-align: center;
      .fa {
        color: #fff;
      }
      @mixin atSmall {
        width: 33%;
      }
    }
    &__col-three {
      font-size: 8px;
      width: 42%;
      text-align: right;
      @mixin atSmall {
        width: 25%;
        font-size: 12px;
      }
      a {
        text-decoration: none;
        color: $main-white;
      }
      a:hover {
        color: $main-white;
      }
    }
  }