@define-mixin atXSmall {
  @media (max-width: 529px) {
    @mixin-content;
  }
}
@define-mixin atSmall {
  @media (min-width: 530px) {
    @mixin-content;
  }
}

@define-mixin atSmallMedium {
  @media (min-width: 767px) {
    @mixin-content;
  }
}

@define-mixin atMedium {
  @media (min-width: 960px) {
    @mixin-content;
  }
}
@define-mixin atLong {
  @media (min-width: 1200px) {
    @mixin-content;
  }
}

body {
  color: #000000;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}

a:hover {
  text-decoration: none;
}

p, ul, ol {
  margin: 0 0 1.65em 0;
}

p, li {
  line-height: 1.65;
}
.only-desktop {
  display: none;
  @mixin atMedium { 
    display: block;
  }
}
.only-mobile {
  display: block;
  @mixin atMedium { 
    display: none;
  }
}