html {
  scroll-behavior: smooth;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 16px;
  position: relative;
}

.container--narrow {
  max-width: 960px;
}

.section-break {
  border: none;
  border-top: 1px solid #DDD;
  margin: 2.5rem 0;
}

.min-list {
  padding: 0;
  margin: 0;
}

.min-list li {
  list-style: none;
}

.no-margin {margin: 0}
.nu {text-decoration: none}
.nu:hover {text-decoration: underline}

.t-left {text-align: left}
.t-right {text-align: right}
.t-center {text-align: center}


.float-left {float: left}
.float-right {float: right}
.push-right {margin-right: 20px}

.hide {
  display: none;
}